# Case Coleguium

### Upload e concatenação das tabelas

Importando bibliotecas de python para tratamento dos dados

In [68]:
import pandas as pd
import numpy as np

In [69]:
Matricula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de matriculados.csv')

In [70]:
Inscritos = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de Inscritos.csv')

Mesclagem

In [71]:
Assistente = Matricula.merge(Inscritos, on = 'Código Candidato', how = 'left')
Assistente = Assistente.drop(columns = 'Unidade_x')

Organizado em ordem crescente pelo código do candidato

In [72]:
Assistente = Assistente.sort_values(by = 'Código Candidato')

In [73]:
Assistente

,Código Candidato,Turma,Turno,Data de nascimento,Data da matrícula,Bolsa (%),Real Anuidade,Unidade_y,Série,Data de Inscrição,Tipo
2989,CL0001,3ª Série,Manhã,12/4/2008,10/10/2024,"23,40%",32.406,Ouro Preto,3ª série,18/08/2024 22:46:00,Rematrícula
9484,CL0002,Infantil 4,Tarde,21/1/2021,20/12/2024,"50,00%",15.176,Conceição do Mato Dentro,Infantil 4,19/12/2024 15:13:00,Matrícula nova
9673,CL0002,Infantil 4,Tarde,21/01/2021,20/12/2024,"50,00%",15.176,Conceição do Mato Dentro,Infantil 4,19/12/2024 15:13:00,Matrícula nova
6245,CL0006,6º ano,Manhã,07/11/2013,03/12/2024,"100,00%",23.427,Carajás,6º ano,18/08/2024 22:44:00,Rematrícula
10059,CL0017,Infantil 5,Tarde,1/12/2019,10/10/2024,"60,00%",11.237,Jardim Canadá,Infantil 5,18/08/2024 22:46:00,Rematrícula
...,...,...,...,...,...,...,...,...,...,...,...
2395,não encontrado,2º ano,Tarde,19/05/2017,06/12/2024,"60,00%",7.374,NaN,NaN,NaN,NaN
2544,não encontrado,2º ano,Tarde,26/8/2017,26/11/2024,"47,40%",9.267,NaN,NaN,NaN,NaN
2508,não encontrado,2º ano,Tarde,24/01/2018,23/10/2024,"50,00%",13.031,NaN,NaN,NaN,NaN
4757,não encontrado,4º ano,Tarde,04/10/2015,19/10/2024,"58,50%",12.109,NaN,NaN,NaN,NaN
2269,não encontrado,2ª Série,Manhã,18/02/2009,03/09/2024,"38,00%",23.757,NaN,NaN,NaN,NaN

### Tratamento de nulos

Verificação de nulos

In [74]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Código Candidato tem 0 nulos
A coluna Turma tem 0 nulos
A coluna Turno tem 0 nulos
A coluna Data de nascimento tem 0 nulos
A coluna Data da matrícula tem 42 nulos
A coluna Bolsa (%) tem 0 nulos
A coluna Real Anuidade tem 0 nulos
A coluna Unidade_y tem 17 nulos
A coluna Série tem 17 nulos
A coluna Data de Inscrição tem 17 nulos
A coluna Tipo tem 17 nulos

Exclusão dos nulos

In [75]:
Assistente = Assistente.dropna(subset = 'Data de Inscrição')
Assistente = Assistente.dropna(subset = 'Data da matrícula')

Confirmação

In [76]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Código Candidato tem 0 nulos
A coluna Turma tem 0 nulos
A coluna Turno tem 0 nulos
A coluna Data de nascimento tem 0 nulos
A coluna Data da matrícula tem 0 nulos
A coluna Bolsa (%) tem 0 nulos
A coluna Real Anuidade tem 0 nulos
A coluna Unidade_y tem 0 nulos
A coluna Série tem 0 nulos
A coluna Data de Inscrição tem 0 nulos
A coluna Tipo tem 0 nulos

### Calculo da diferença de datas

In [81]:
Assistente['Diferência'] = (Assistente['Data da matrícula'] - Assistente['Data de Inscrição']).dt.days

TypeError: unsupported operand type(s) for -: 'str' and 'str'