# Case Coleguium

### Upload e concatenação das tabelas

Importando bibliotecas de python para tratamento dos dados

In [93]:
import pandas as pd
import numpy as np

In [94]:
Matricula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de matriculados.csv')

In [95]:
Inscritos = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de Inscritos.csv')

Mesclagem

In [96]:
Assistente = Inscritos.merge(Matricula, on = 'Código Candidato', how = 'left')
Assistente = Assistente.drop(columns = 'Unidade_x')

Organizado em ordem crescente pelo código do candidato

In [97]:
Assistente = Assistente.sort_values(by = 'Código Candidato')

In [98]:
Assistente

,Série,Código Candidato,Data de Inscrição,Tipo,Unidade_y,Turma,Turno,Data de nascimento,Data da matrícula,Bolsa (%),Real Anuidade
0,3ª série,CL0001,18/08/2024 22:46:00,Rematrícula,Ouro Preto,3ª Série,Manhã,12/4/2008,10/10/2024,"23,40%",32.406
1,Infantil 4,CL0002,19/12/2024 15:13:00,Matrícula nova,Conceição do Mato Dentro,Infantil 4,Tarde,21/1/2021,20/12/2024,"50,00%",15.176
2,Infantil 4,CL0002,19/12/2024 15:13:00,Matrícula nova,Conceição do Mato Dentro,Infantil 4,Tarde,21/01/2021,20/12/2024,"50,00%",15.176
3,Infantil 5 bilíngue,CL0003,27/09/2024 23:00:00,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1º ano bilíngue,CL0004,01/09/2024 00:39:00,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10687,Infantil 2 bilíngue,CL9995,21/01/2025 23:26,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10688,1º ano,CL9996,18/01/2025 14:14,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10689,Infantil 4,CL9997,13/08/2024 18:09,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10690,3º ano,CL9998,18/11/2024 12:10,Matrícula nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10691,Infantil 1,CL9999,18/08/2024 22:45,Rematrícula,Carajás,Infantil 1,Manhã,1/6/2023,11/11/2024,"100,00%",13.611

In [99]:
Assistente.dtypes

Série                  object
Código Candidato       object
Data de Inscrição      object
Tipo                   object
Unidade_y              object
Turma                  object
Turno                  object
Data de nascimento     object
Data da matrícula      object
Bolsa (%)              object
Real Anuidade         float64
dtype: object

### Tratamento de nulos

Verificação de nulos

In [100]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Série tem 0 nulos
A coluna Código Candidato tem 0 nulos
A coluna Data de Inscrição tem 0 nulos
A coluna Tipo tem 0 nulos
A coluna Unidade_y tem 16782 nulos
A coluna Turma tem 16782 nulos
A coluna Turno tem 16782 nulos
A coluna Data de nascimento tem 16782 nulos
A coluna Data da matrícula tem 16823 nulos
A coluna Bolsa (%) tem 16782 nulos
A coluna Real Anuidade tem 16782 nulos

Exclusão dos nulos

In [101]:
Assistente = Assistente.dropna(subset = 'Data de Inscrição')
Assistente = Assistente.dropna(subset = 'Data da matrícula')

Confirmação

In [102]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Série tem 0 nulos
A coluna Código Candidato tem 0 nulos
A coluna Data de Inscrição tem 0 nulos
A coluna Tipo tem 0 nulos
A coluna Unidade_y tem 0 nulos
A coluna Turma tem 0 nulos
A coluna Turno tem 0 nulos
A coluna Data de nascimento tem 0 nulos
A coluna Data da matrícula tem 0 nulos
A coluna Bolsa (%) tem 0 nulos
A coluna Real Anuidade tem 0 nulos

### Calculo da diferença de datas

In [103]:
Assistente['Data de Inscrição'] = pd.to_datetime(Assistente['Data de Inscrição'], format='mixed', dayfirst=True)
Assistente['Data de Inscrição'] = Assistente['Data de Inscrição'].dt.date
Assistente['Data de Inscrição'] = pd.to_datetime(Assistente['Data de Inscrição'], format='%d/%m/%Y', dayfirst=True)
Assistente['Data da matrícula'] = pd.to_datetime(Assistente['Data da matrícula'], format="%d/%m/%Y")
Assistente.dtypes

Série                         object
Código Candidato              object
Data de Inscrição     datetime64[ns]
Tipo                          object
Unidade_y                     object
Turma                         object
Turno                         object
Data de nascimento            object
Data da matrícula     datetime64[ns]
Bolsa (%)                     object
Real Anuidade                float64
dtype: object

In [104]:
Assistente['Diferença'] = (Assistente['Data da matrícula'] - Assistente['Data de Inscrição']).dt.days

In [105]:
Assistente[['Código Candidato','Data da matrícula', 'Data de Inscrição', 'Diferença']]

      Código Candidato Data da matrícula Data de Inscrição  Diferença
0               CL0001        2024-10-10        2024-08-18         53
1               CL0002        2024-12-20        2024-12-19          1
2               CL0002        2024-12-20        2024-12-19          1
6               CL0006        2024-12-03        2024-08-18        107
17              CL0017        2024-10-10        2024-08-18         53
...                ...               ...               ...        ...
10682           CL9991        2024-11-25        2024-11-13         12
10684           CL9992        2024-08-30        2024-08-18         12
10685           CL9993        2024-10-09        2024-08-18         52
10686           CL9994        2024-12-09        2024-08-18        113
10691           CL9999        2024-11-11        2024-08-18         85

[10282 rows x 4 columns]

In [108]:
print(round(Assistente['Diferença'].mean()))

66

In [110]:
Assistente.dtypes

Série                         object
Código Candidato              object
Data de Inscrição     datetime64[ns]
Tipo                          object
Unidade_y                     object
Turma                         object
Turno                         object
Data de nascimento            object
Data da matrícula     datetime64[ns]
Bolsa (%)                     object
Real Anuidade                float64
Diferença                      int64
dtype: object

In [115]:
Assistente[Assistente['Diferença'] < 66]

,Série,Código Candidato,Data de Inscrição,Tipo,Unidade_y,Turma,Turno,Data de nascimento,Data da matrícula,Bolsa (%),Real Anuidade,Diferença
0,3ª série,CL0001,2024-08-18,Rematrícula,Ouro Preto,3ª Série,Manhã,12/4/2008,2024-10-10,"23,40%",32.406,53
1,Infantil 4,CL0002,2024-12-19,Matrícula nova,Conceição do Mato Dentro,Infantil 4,Tarde,21/1/2021,2024-12-20,"50,00%",15.176,1
2,Infantil 4,CL0002,2024-12-19,Matrícula nova,Conceição do Mato Dentro,Infantil 4,Tarde,21/01/2021,2024-12-20,"50,00%",15.176,1
17,Infantil 5,CL0017,2024-08-18,Rematrícula,Jardim Canadá,Infantil 5,Tarde,1/12/2019,2024-10-10,"60,00%",11.237,53
19,Infantil 3,CL0019,2025-01-21,Matrícula nova,Castelo,Infantil 3,Tarde,23/01/2022,2025-01-27,"66,60%",6.672,6
...,...,...,...,...,...,...,...,...,...,...,...,...
10677,2º ano,CL9987,2024-10-14,Matrícula nova,Nova Suíça,2º ano,Tarde,11/4/2017,2024-10-24,"100,00%",0.000,10
10683,3º ano,CL9991,2024-11-13,Matrícula nova,Carlos Prates,3º ano,Tarde,18/05/2017,2024-11-25,"50,00%",12.530,12
10682,3º ano,CL9991,2024-11-13,Matrícula nova,Carlos Prates,3º ano,Tarde,18/5/2017,2024-11-25,"50,00%",12.530,12
10684,1º ano,CL9992,2024-08-18,Rematrícula,Carlos Prates,1º Ano,Tarde,21/6/2018,2024-08-30,"55,00%",11.928,12
10685,6º ano,CL9993,2024-08-18,Rematrícula,Carlos Prates,6º ano,Manhã,13/11/2013,2024-10-09,"50,00%",14.832,52