# Case Coleguium

### Upload e concatenação das tabelas

Importando bibliotecas de python para tratamento dos dados

In [31]:
import pandas as pd
import numpy as np

In [32]:
Matricula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de matriculados.csv')

In [33]:
Inscritos = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/case_-_assistente_de_dados.xlsx - Base de Inscritos.csv')

##### Mesclagem

In [34]:
Assistente = Inscritos.merge(Matricula, on = 'Código Candidato', how = 'left')

##### Organização

In [35]:
Assistente = Assistente.sort_values(by = 'Código Candidato')
Assistente = Assistente.drop(columns = 'Unidade_x')
Assistente = Assistente.rename(columns={'Unidade_y': 'Unidade'})
Assistente = Assistente[['Código Candidato', 'Data de nascimento', 'Série', 'Unidade', 'Data de Inscrição', 'Data da matrícula','Tipo','Bolsa (%)', 'Real Anuidade']]

In [36]:
Assistente

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade
0,CL0001,12/4/2008,3ª série,Ouro Preto,18/08/2024 22:46:00,10/10/2024,Rematrícula,"23,40%",32.406
1,CL0002,21/1/2021,Infantil 4,Conceição do Mato Dentro,19/12/2024 15:13:00,20/12/2024,Matrícula nova,"50,00%",15.176
2,CL0002,21/01/2021,Infantil 4,Conceição do Mato Dentro,19/12/2024 15:13:00,20/12/2024,Matrícula nova,"50,00%",15.176
3,CL0003,NaN,Infantil 5 bilíngue,NaN,27/09/2024 23:00:00,NaN,Matrícula nova,NaN,NaN
4,CL0004,NaN,1º ano bilíngue,NaN,01/09/2024 00:39:00,NaN,Matrícula nova,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10687,CL9995,NaN,Infantil 2 bilíngue,NaN,21/01/2025 23:26,NaN,Matrícula nova,NaN,NaN
10688,CL9996,NaN,1º ano,NaN,18/01/2025 14:14,NaN,Matrícula nova,NaN,NaN
10689,CL9997,NaN,Infantil 4,NaN,13/08/2024 18:09,NaN,Matrícula nova,NaN,NaN
10690,CL9998,NaN,3º ano,NaN,18/11/2024 12:10,NaN,Matrícula nova,NaN,NaN
10691,CL9999,1/6/2023,Infantil 1,Carajás,18/08/2024 22:45,11/11/2024,Rematrícula,"100,00%",13.611

### Tratamento de nulos

Verificação de nulos

In [37]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Código Candidato tem 0 nulos
A coluna Data de nascimento tem 16782 nulos
A coluna Série tem 0 nulos
A coluna Unidade tem 16782 nulos
A coluna Data de Inscrição tem 0 nulos
A coluna Data da matrícula tem 16823 nulos
A coluna Tipo tem 0 nulos
A coluna Bolsa (%) tem 16782 nulos
A coluna Real Anuidade tem 16782 nulos

Exclusão dos nulos

In [38]:
Assistente = Assistente.dropna(subset = 'Data de Inscrição')
Assistente = Assistente.dropna(subset = 'Data da matrícula')

Confirmação

In [39]:
for col in Assistente.columns:
  nulos = Assistente[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Código Candidato tem 0 nulos
A coluna Data de nascimento tem 0 nulos
A coluna Série tem 0 nulos
A coluna Unidade tem 0 nulos
A coluna Data de Inscrição tem 0 nulos
A coluna Data da matrícula tem 0 nulos
A coluna Tipo tem 0 nulos
A coluna Bolsa (%) tem 0 nulos
A coluna Real Anuidade tem 0 nulos

### Calculo da diferença de datas

Formatação das datas

In [40]:
Assistente['Data de Inscrição'] = pd.to_datetime(Assistente['Data de Inscrição'], format='mixed', dayfirst=True)
Assistente['Data de Inscrição'] = Assistente['Data de Inscrição'].dt.date
Assistente['Data de Inscrição'] = pd.to_datetime(Assistente['Data de Inscrição'], format='%d/%m/%Y', dayfirst=True)
Assistente['Data da matrícula'] = pd.to_datetime(Assistente['Data da matrícula'], format="%d/%m/%Y")

In [41]:
Assistente['Diferença'] = (Assistente['Data da matrícula'] - Assistente['Data de Inscrição']).dt.days

#### Média de dias demorados para a realização de novas matrículas.

In [42]:
matriculaNova = Assistente.loc[Assistente['Tipo'] == 'Matrícula nova']
matriculaNova

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade,Diferença
1,CL0002,21/1/2021,Infantil 4,Conceição do Mato Dentro,2024-12-19,2024-12-20,Matrícula nova,"50,00%",15.176,1
2,CL0002,21/01/2021,Infantil 4,Conceição do Mato Dentro,2024-12-19,2024-12-20,Matrícula nova,"50,00%",15.176,1
19,CL0019,23/01/2022,Infantil 3,Castelo,2025-01-21,2025-01-27,Matrícula nova,"66,60%",6.672,6
20,CL0019,23/01/2022,Infantil 3,Castelo,2025-01-21,2025-01-27,Matrícula nova,"66,60%",6.672,6
49,CL0047,19/04/2015,5º ano,Conceição do Mato Dentro,2024-12-02,2024-12-02,Matrícula nova,"100,00%",11.471,0
...,...,...,...,...,...,...,...,...,...,...
10669,CL9979,09/07/2014,5º ano bilíngue,Lagoa Santa,2024-08-16,2024-12-20,Matrícula nova,"43,00%",14.421,126
10678,CL9987,11/04/2017,2º ano,Nova Suíça,2024-10-14,2024-10-24,Matrícula nova,"100,00%",0.000,10
10677,CL9987,11/4/2017,2º ano,Nova Suíça,2024-10-14,2024-10-24,Matrícula nova,"100,00%",0.000,10
10683,CL9991,18/05/2017,3º ano,Carlos Prates,2024-11-13,2024-11-25,Matrícula nova,"50,00%",12.530,12
10682,CL9991,18/5/2017,3º ano,Carlos Prates,2024-11-13,2024-11-25,Matrícula nova,"50,00%",12.530,12

In [43]:
print("A média de dias para fazer uma nova matrícula é de:", round(matriculaNova['Diferença'].mean()), "dias.")

A média de dias para fazer uma nova matrícula é de: 28 dias.

#### Média de dias demorados para a realização das rematrículas.

In [44]:
rematrícula = Assistente.loc[Assistente['Tipo'] == 'Rematrícula']
rematrícula

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade,Diferença
0,CL0001,12/4/2008,3ª série,Ouro Preto,2024-08-18,2024-10-10,Rematrícula,"23,40%",32.406,53
6,CL0006,07/11/2013,6º ano,Carajás,2024-08-18,2024-12-03,Rematrícula,"100,00%",23.427,107
17,CL0017,1/12/2019,Infantil 5,Jardim Canadá,2024-08-18,2024-10-10,Rematrícula,"60,00%",11.237,53
28,CL0027,15/2/2014,6º ano,Conceição do Mato Dentro,2024-08-18,2024-12-13,Rematrícula,"34,60%",13.080,117
40,CL0039,23/02/2008,9º ano,Gutierrez,2024-08-18,2024-10-04,Rematrícula,"17,80%",27.122,47
...,...,...,...,...,...,...,...,...,...,...
10679,CL9988,18/8/2022,Infantil 2 bilíngue,Carajás,2024-08-18,2024-11-18,Rematrícula,"100,00%",15.966,92
10684,CL9992,21/6/2018,1º ano,Carlos Prates,2024-08-18,2024-08-30,Rematrícula,"55,00%",11.928,12
10685,CL9993,13/11/2013,6º ano,Carlos Prates,2024-08-18,2024-10-09,Rematrícula,"50,00%",14.832,52
10686,CL9994,3/1/2020,Infantil 5,Lagoa Santa,2024-08-18,2024-12-09,Rematrícula,"47,00%",12.635,113
10691,CL9999,1/6/2023,Infantil 1,Carajás,2024-08-18,2024-11-11,Rematrícula,"100,00%",13.611,85

In [45]:
print("A média de dias para fazer uma rematrícula é de:", round(rematrícula['Diferença'].mean()), "dias.")

A média de dias para fazer uma rematrícula é de: 84 dias.