In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
novaMatrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Nova_Matrícula_Separada.csv')
rematrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Rematrícula_Separada.csv')

In [11]:
novaMatrícula['Bolsa'] = novaMatrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)
rematrícula['Bolsa'] = rematrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)

In [12]:
novaMatrícula

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade,Diferença,Bolsa
0,CL0002,21/1/2021,Infantil 4,Conceição do Mato Dentro,2024-12-19,2024-12-20,Matrícula nova,"50,00%",15.176,1,50.0
1,CL0002,21/01/2021,Infantil 4,Conceição do Mato Dentro,2024-12-19,2024-12-20,Matrícula nova,"50,00%",15.176,1,50.0
2,CL0019,23/01/2022,Infantil 3,Castelo,2025-01-21,2025-01-27,Matrícula nova,"66,60%",6.672,6,66.6
3,CL0019,23/01/2022,Infantil 3,Castelo,2025-01-21,2025-01-27,Matrícula nova,"66,60%",6.672,6,66.6
4,CL0047,19/04/2015,5º ano,Conceição do Mato Dentro,2024-12-02,2024-12-02,Matrícula nova,"100,00%",11.471,0,100.0
...,...,...,...,...,...,...,...,...,...,...,...
3416,CL9979,09/07/2014,5º ano bilíngue,Lagoa Santa,2024-08-16,2024-12-20,Matrícula nova,"43,00%",14.421,126,43.0
3417,CL9987,11/04/2017,2º ano,Nova Suíça,2024-10-14,2024-10-24,Matrícula nova,"100,00%",0.000,10,100.0
3418,CL9987,11/4/2017,2º ano,Nova Suíça,2024-10-14,2024-10-24,Matrícula nova,"100,00%",0.000,10,100.0
3419,CL9991,18/05/2017,3º ano,Carlos Prates,2024-11-13,2024-11-25,Matrícula nova,"50,00%",12.530,12,50.0
3420,CL9991,18/5/2017,3º ano,Carlos Prates,2024-11-13,2024-11-25,Matrícula nova,"50,00%",12.530,12,50.0

In [13]:
rematrícula

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade,Diferença,Bolsa
0,CL0001,12/4/2008,3ª série,Ouro Preto,2024-08-18,2024-10-10,Rematrícula,"23,40%",32.406,53,23.4
1,CL0006,07/11/2013,6º ano,Carajás,2024-08-18,2024-12-03,Rematrícula,"100,00%",23.427,107,100.0
2,CL0017,1/12/2019,Infantil 5,Jardim Canadá,2024-08-18,2024-10-10,Rematrícula,"60,00%",11.237,53,60.0
3,CL0027,15/2/2014,6º ano,Conceição do Mato Dentro,2024-08-18,2024-12-13,Rematrícula,"34,60%",13.080,117,34.6
4,CL0039,23/02/2008,9º ano,Gutierrez,2024-08-18,2024-10-04,Rematrícula,"17,80%",27.122,47,17.8
...,...,...,...,...,...,...,...,...,...,...,...
6856,CL9988,18/8/2022,Infantil 2 bilíngue,Carajás,2024-08-18,2024-11-18,Rematrícula,"100,00%",15.966,92,100.0
6857,CL9992,21/6/2018,1º ano,Carlos Prates,2024-08-18,2024-08-30,Rematrícula,"55,00%",11.928,12,55.0
6858,CL9993,13/11/2013,6º ano,Carlos Prates,2024-08-18,2024-10-09,Rematrícula,"50,00%",14.832,52,50.0
6859,CL9994,3/1/2020,Infantil 5,Lagoa Santa,2024-08-18,2024-12-09,Rematrícula,"47,00%",12.635,113,47.0
6860,CL9999,1/6/2023,Infantil 1,Carajás,2024-08-18,2024-11-11,Rematrícula,"100,00%",13.611,85,100.0