In [71]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [72]:
novaMatrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Nova_Matrícula_Separada.csv')
rematrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Rematrícula_Separada.csv')
novaMatrícula['Bolsa'] = novaMatrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)
rematrícula['Bolsa'] = rematrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)

In [75]:
médiaNovaMatrícula = novaMatrícula.groupby('Unidade').agg(
    Soma = ('Bolsa', 'sum'),
    numDescontos = ('Bolsa' , 'count')
)

médiaRematrícula = rematrícula.groupby('Unidade').agg(
    Soma = ('Bolsa', 'sum'),
    numDescontos = ('Bolsa' , 'count')
)

médiaRematrícula['média'] = round(médiaRematrícula['Soma']/médiaRematrícula['numDescontos'])

médiaNovaMatrícula['média'] = round(médiaNovaMatrícula['Soma']/médiaNovaMatrícula['numDescontos'])


nM = novaMatrícula.merge(médiaNovaMatrícula, on = 'Unidade', how = 'left')

rM = rematrícula.merge(médiaRematrícula, on = 'Unidade', how = 'left')

In [76]:
nM['Data da matrícula'] = pd.to_datetime(nM['Data da matrícula'], format='mixed', dayfirst=True)
rM['Data da matrícula'] = pd.to_datetime(rM['Data da matrícula'], format='mixed', dayfirst=True)
rM

,Código Candidato,Data de nascimento,Série,Unidade,Data de Inscrição,Data da matrícula,Tipo,Bolsa (%),Real Anuidade,Diferença,Bolsa,Soma,numDescontos,média
0,CL0001,12/4/2008,3ª série,Ouro Preto,2024-08-18,2024-10-10,Rematrícula,"23,40%",32.406,53,23.4,27516.6,661,42.0
1,CL0006,07/11/2013,6º ano,Carajás,2024-08-18,2024-12-03,Rematrícula,"100,00%",23.427,107,100.0,115573.8,1178,98.0
2,CL0017,1/12/2019,Infantil 5,Jardim Canadá,2024-08-18,2024-10-10,Rematrícula,"60,00%",11.237,53,60.0,9446.7,218,43.0
3,CL0027,15/2/2014,6º ano,Conceição do Mato Dentro,2024-08-18,2024-12-13,Rematrícula,"34,60%",13.080,117,34.6,18994.4,352,54.0
4,CL0039,23/02/2008,9º ano,Gutierrez,2024-08-18,2024-10-04,Rematrícula,"17,80%",27.122,47,17.8,15281.7,378,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,CL9988,18/8/2022,Infantil 2 bilíngue,Carajás,2024-08-18,2024-11-18,Rematrícula,"100,00%",15.966,92,100.0,115573.8,1178,98.0
6853,CL9992,21/6/2018,1º ano,Carlos Prates,2024-08-18,2024-08-30,Rematrícula,"55,00%",11.928,12,55.0,20599.1,365,56.0
6854,CL9993,13/11/2013,6º ano,Carlos Prates,2024-08-18,2024-10-09,Rematrícula,"50,00%",14.832,52,50.0,20599.1,365,56.0
6855,CL9994,3/1/2020,Infantil 5,Lagoa Santa,2024-08-18,2024-12-09,Rematrícula,"47,00%",12.635,113,47.0,26029.5,534,49.0
6856,CL9999,1/6/2023,Infantil 1,Carajás,2024-08-18,2024-11-11,Rematrícula,"100,00%",13.611,85,100.0,115573.8,1178,98.0

In [77]:
nM = nM.sort_values(by = ['Data da matrícula'])
rM = rM.sort_values(by = ['Data da matrícula'])
rM
nM.dtypes

Código Candidato              object
Data de nascimento            object
Série                         object
Unidade                       object
Data de Inscrição             object
Data da matrícula     datetime64[ns]
Tipo                          object
Bolsa (%)                     object
Real Anuidade                float64
Diferença                      int64
Bolsa                        float64
Soma                         float64
numDescontos                   int64
média                        float64
dtype: object

In [78]:
AgostoNM   = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-08']
AgostoRM   = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-08']

SetembroNM = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-09']
SetembroRM = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-09']

OutubroNM  = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-10']
OutubroRM  = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-10']

NovembroNM = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-11']
NovembroRM = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-11']

DezembroNM = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-12']
DezembroRM = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2024-12']

JaneiroNM  = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2025-01']
JaneiroRM  = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2025-01']

FevereiroNM = nM[nM['Data da matrícula'].dt.strftime('%Y-%m') == '2025-02']
FevereiroRM = rM[rM['Data da matrícula'].dt.strftime('%Y-%m') == '2025-02']