In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
novaMatrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Nova_Matrícula_Separada.csv')
rematrícula = pd.read_csv('/workspaces/Coleguium-Entrevista/Data/Tratados/Rematrícula_Separada.csv')

In [4]:
novaMatrícula['Bolsa'] = novaMatrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)
rematrícula['Bolsa'] = rematrícula['Bolsa (%)'].str.rstrip('%').str.replace(',', '.').astype(float)

In [8]:
escolas1 = set(novaMatrícula['Unidade'].unique())
escolas1

{'Alípio de Melo',
 'Carajás',
 'Carlos Prates',
 'Castelo',
 'Castelo Manacás',
 'Conceição do Mato Dentro',
 'Gutierrez',
 'Jaraguá',
 'Jardim Canadá',
 'Lagoa Santa',
 'Mais Belvedere',
 'Mais Buritis',
 'Mais Cidade Nova',
 'Mais Pampulha',
 'Nova Suíça',
 'Ouro Preto',
 'Santa Amélia'}

In [9]:
escolas2 = set(rematrícula['Unidade'].unique())
escolas2

{'Alípio de Melo',
 'Carajás',
 'Carlos Prates',
 'Castelo',
 'Castelo Manacás',
 'Conceição do Mato Dentro',
 'Gutierrez',
 'Jaraguá',
 'Jardim Canadá',
 'Lagoa Santa',
 'Mais Belvedere',
 'Mais Buritis',
 'Mais Cidade Nova',
 'Mais Pampulha',
 'Nova Suíça',
 'Ouro Preto',
 'Ouro Preto Integral',
 'Santa Amélia'}

In [14]:
unidadesRematrícula = pd.DataFrame(list(escolas2), columns = ['Unidades'])
unidadesRematrícula

                    Unidades
0                    Carajás
1   Conceição do Mato Dentro
2        Ouro Preto Integral
3                  Gutierrez
4               Santa Amélia
5                 Nova Suíça
6                    Castelo
7                Lagoa Santa
8           Mais Cidade Nova
9            Castelo Manacás
10             Jardim Canadá
11             Mais Pampulha
12            Mais Belvedere
13                Ouro Preto
14                   Jaraguá
15              Mais Buritis
16            Alípio de Melo
17             Carlos Prates